@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --clr-1: hsl(0, 0%, 100%);
  --clr-2: hsl(212, 45%, 89%);
  --clr-3: hsl(220, 15%, 55%);
  --clr-4: hsl(218, 44%, 22%);

  --fs-base: 15px;

  --ff-main: "Outfit", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
}
